#project {
    width: 1920px;
    height: 1080px;

}

header {
    width: 1920px;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #3D5A7F;
    background-color: rgba(136, 216, 176, 0.74);
    gap: 10px;
}

main {
    position: relative;
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;

}

main::before {
    content: '';
    /* 내용 없음 */
    position: absolute;
    /* 절대 위치로 설정 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../public/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    /* 투명도 50% */
    z-index: -1;
    /* 배경 이미지가 아래에 위치하도록 설정 */
}

.category {
    width: 1920px;
    height: 60px;
    background-color: rgba(61, 90, 127);
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorybox1 {
    width: 1600px;
    height: 40px;
    background-color: rgb(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    box-sizing: border-box;
    gap: 120px;
}

.e {
    height: 40px;
    font-size: 25px;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    background-color: rgb(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
}

footer {
    background-color: rgba(136, 216, 176, 0.74);
    color: #3D5A7F;
    text-align: center;
    padding: 2px;
    width: 1920px;
    box-sizing: border-box;

}



/* -- LoginPage Start-- */
/*
#login-container {
    height: 980px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#loginbox {
    width: 600px;
    height: 230px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(71, 95, 130, 0.7);
    gap: 15px;
}

#loginbox > #idinputfield {
    width: 560px;
    height: 50px;
    font-size: 20px;
}

#loginbox > #passwordinputfield {
    width: 560px;
    height: 50px;
    font-size: 20px;
}

#loginbox > #buttonfield {
    width: 560px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#loginbox > #buttonfield > button {
    width: 45%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    font-size: 20px;
}
*/
/* -- LoginPage End -- */

/* -- HomePage Start -- */
/*
#home-container {
    height: 980px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-container > #category {
    width: 1920px;
    height: 60px;
    background-color: rgba(61, 90, 127);
}

#home-container > #main > #container {
    width: 1920px;
    height: 920px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
}

#home-container > #main > #container > .box2 {
    width: 945px;
    height: 416px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    gap: 6px;
}

#home-container > #main > #container > .box2 > #titletext {
    width: 925px;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
}

#home-container > #main > #container > .box2 > .textbox {
    width: 925px;
}

#home-container > #main > #container > .box2 > .textbox > .text {
    width: 925px;
    height: 30px;
    font-size: 17px;
    box-sizing: border-box;
    padding: 0 12.5px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no {
    width: 100px;
    text-align: center;
}

.title {
    width: 550px;
    text-align: center;
}

.Author {
    width: 100px;
    text-align: center;
}

.postdate {
    width: 100px;
    text-align: center;
}
*/
/* -- HomePage End -- */

/* -- SignupPage Start --*/

/*#signup-container > #main {
    height: 988px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signup-container > #main > main::after {
    width: 1920px;
    height: 988px;
    content: "";
    background-image: url("../public/images/background.jpg");
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

#signupbox {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(71, 95, 130, 0.7);
    margin: 20px;
    gap: 18px;
    padding: 20px 0;
}

#text1 {
    font-size: 24px;
    color: #ffffff;
}

#idinputfield {
    width: 560px;
    height: 50px;
    font-size: 20px;
}

#passwordinputfield {
    width: 560px;
    height: 50px;
    font-size: 20px;
}

#emailinputfield {
    width: 560px;
    height: 50px;
    font-size: 20px;
}

#brithdayinputfield {
    width: 560px;
    height: 50px;
    font-size: 20px;
}

#phoninputfield {
    width: 560px;
    height: 50px;
    font-size: 20px;
}

#codeinputfield {
    width: 560px;
    height: 50px;
    font-size: 20px;
}

#buttonfield {
    width: 560px;
    height: 50px;
    display: flex;
    justify-content: center;
}

button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    font-size: 20px;
}*/

/* -- SignupPage End --*/